@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Poppins');


h1,h2,h3,h4,h5,h6,p,li,a{
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  position: absolute;
}

.navbar-brand{
  margin-top: 15px;
  margin-left: 100px;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
