<div class="container-fluid header">
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card shadow-lg">
            <h1>Civi<i>Game</i></h1>
            <p>Mas que una aplicación es una nueva forma de vivir nuestra ciudad y descubrir
              nuevos lugares, eventos, parques, comercios, y sobre todo nuestro sistema metro.</p>
              <a href="#function" class="btn btn-primary shadow">Descubramos CivicaMall</a>
          </div>
    </div>
    <div class="col-md-6 col-xs-12 img">
        <img class="" src="../../assets/img/objetivo/cel.png" alt="Responsive image">
    </div>
  </div>
</div>
