<div class="container-fluid header">
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card shadow-lg">
            <h1>Civica<i>Mall</i></h1>
            <p>Es una <strong>App y Plataforma Digital</strong> que te permite tener todo <strong>Valle de Aburrà</strong> en tus manos,
               con información comercial, turística, entretenimiento, promociones, mapas, parqueaderos, market
                place, entre otros. Además, incluye un componente tecnológico que le permitirá <strong>a las personas con Discapacidad Sensorial</strong>,
                 percibir, entender y usar de forma <strong>autónoma</strong> el sistema integrado Metro.</p>
              <a href="https://youtu.be/L5mxK5L1o4s" class="btn btn-primary shadow">Descubramos CivicaMall</a>
          </div>
    </div>
    <div class="col-md-6 col-xs-12 img">
        <img class="" src="../../assets/img/objetivo/cel.png" alt="Responsive image">
    </div>
  </div>
</div>
