<div class="container-fluid pasos">
    <div class="row">
      <div class="col-md-6 col-xs-12">
          <div class="card shadow-lg">
              <h1>Dinámica</h1>
              <p>La dinámica del CiviGame consiste en:</p>
              <p>Superar y alcanzar los retos que serán enviados  cada semana, durante un mes.</p>
              <p>Los retos tendrán Pistas, que serán enviadas a través de la Web, el grupo de Facebook y el grupo de WhatsApp. –ambos creados únicamente para el CiviGame-</p>
              <p>Cada semana habrán nuevas pistas, retos y premios</p>
              <p>Cada reto tendrá como recompensa unas monedas virtuales denominadas CiviLukas,  las cuales funcionarán como un sistema de “puntos”, es decir,  Cada CiviLukas  representa un porcentaje del valor del premio a canjear</p>
              <p>Los premios serán entregados cada semana a los ganadores.</p>
              <p>Los Beacons  serán uno de los medios de difusión para enviar información como pistas, retos, etc.</p>
              <p>El grupo de Facebook y de WhatsApp  serán los medios por el cual los Testers  podrán enviar su retroalimentación diariamente.</p>
              <p>La persona, o pareja  que  coleccione más CiviLukas durante las 4 semanas…  será el ganador del Premio Mayor  (una gran sorpresa que disfrutarás desde el Aire!).</p>

            </div>
      </div>
      <div class="col-md-6 col-xs-12 img">
          <iframe src="https://www.youtube.com/embed/yhypOF5YqAY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
