<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand text-header" sty href="#">
        CiviTester</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" (click)="CloseMenu()">
          <a routerLink="/single" routerLinkActive="active" class="nav-link" >
            <i class="fa fa-gamepad"></i> Civi-Game
          </a>
        </li>
        <li class="nav-item" (click)="CloseMenu()">
          <a routerLink="/view" routerLinkActive="active" class="nav-link">
            <i class="fa fa-clock-o"></i> Galery Time
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="contenedor">
  <a href="https://www.instagram.com/civicamallmed/" routerLinkActive="active" class="fa fa-instagram"><i>Instagram</i></a>
  <a href="https://www.facebook.com/civicamall.col.7" routerLinkActive="active" class="fa fa-facebook-square" ><i>Facebook</i></a>
  <a href="3007782877" routerLinkActive="active" class="fa fa-whatsapp" ><i>Whatsapp</i></a>
</div>

<router-outlet></router-outlet>
