<div class="container-fluid objetivo">
  <div class="row">
      <div class="col-md-6 col-xs-12">
          <div class="card shadow-lg ">
              <h1>Civi<i>Game</i></h1>

            <p>Dinámica y juego diseñado para motivar, interactuar y retar a los CiviTesters  para que cumplan retos,
               mediante pistas a través de la App CivicaMall.  El CiviGame es dirigido por un personaje denomina el “CiviParcero”,
               quien estará guiando a los “CiviTesters” y entregando CiviLukas para ser canjeadas por premios.</p>

          </div>
      </div>
    <div class="col-md-6 col-xs-12">
      <img src="../../../assets/img/isometric.png" alt="">
    </div>
    </div>
  </div>

