.objetivo{
  height: 100vh;
  background: url(../../../assets/img/comunication.png);
  background-size: cover;

  img{
    margin-top: 30px;
    margin-left: 80px;
    height: 75vh;
    bottom: 0 !important;
  }

  .card{
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #339031c5;
    border: 1px solid transparent;
    margin-top: 100px;
    margin-right: 15%;
    padding: 40px;
    transform: rotate(10deg) !important;

    h1{
      font-weight: bold;
      font-size: 50px;
    }

    p{
      font-size: 16px;
    }
  }

}

@media screen and (max-width: 630px){
  .objetivo{
    height: 100%;
    background: url(../../../assets/img/comunication.png);
    background-size: cover;

    img{
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 40px;
      height: 40vh;
      bottom: 0 !important;
    }

    .card{
      font-family: 'Encode Sans', sans-serif;
      font-family: 'Poppins', sans-serif;
      color: white;
      background: #339031c5;
      border: 1px solid transparent;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px;
      transform: rotate(0deg) !important;

      h1{
        font-weight: bold;
        font-size: 20px;
      }

      p{
        font-size: 10px;
      }
    }

  }
}
