<div class="functions container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card1">
      <section class="apresenteichan">
        <h1 href="" data-af="with less">
        E-parking
        </h1>
      </section>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card2">
      <section class="p1">
        <h1 href="#" data-cont="coming">COMING</h1>
      </section>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card3">
      <!-- <section class="p2">
        <h1 href="#" data-cont="PIANO">PIANO</h1>
      </section> -->
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card4">
      <!-- <section class="p3">
        <h1 href="#" data-cont="BURN">BURN</h1>
      </section> -->
    </div>
  </div>
  <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card5">
        <!-- <section class="p4">
          <h1 href="#" data-cont="movement" >movement</h1>
        </section> -->
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card6">
        <!-- <section class="p5">
          <h1 href="#" >comet</h1>
        </section> -->
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card7">
        <!-- <section class="p6">
          <h1 href="#">TROPICALIA</h1>
        </section> -->
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3 columnas card8">
        <!-- <section class="p9">
          <h1 href="#">
            BEAT
            <div class="i"></div>
            <div class="k"></div>
          </h1>
        </section> -->
      </div>
    </div>
</div>
