<div class="functions container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card1"></div>
    <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card2"></div>
    <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card3"></div>
    <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card4"></div>
  </div>
  <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card5"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card6"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card7"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-xl-3 columnas card8"></div>
    </div>
</div>
