<div class="contact container-fluid">
  <div class="section section-signup page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-primary text-center">
                <br>
                <h4 class="card-title">Contactanos</h4>
                <br>
              </div>
              <p class="description text-center">Cuentanos que te sucede</p>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="mensaje">
                </div>
              </div>
              <div class="footer text-center">
                <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Enviar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
