.objetivo{
  height: 100vh;
  background: url(../../../assets/img/objetivo/fondo.jpg);
  background-size: cover;

  img{
    margin-left: 20px;
    height: 80vh;
    bottom: 0 !important;
  }

  .card{
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #339031ad;
    border: 1px solid transparent;
    margin-top: 150px;
    margin-right: 15%;
    padding: 40px;
    transform: rotate(-20deg) !important;

    h1{
      font-weight: bold;
      font-size: 50px;
    }

    p{
      font-size: 16px;
    }
  }

}


@media screen and (max-width: 630px){

  .objetivo{
  height: 100%;
  background: url(../../../assets/img/objetivo/fondo.jpg);
  background-size: cover;

  img{
    margin-left: 20px;
    height: 45vh;
    bottom: 0 !important;
  }

  .card{
    height: 40;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #339031ad;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-right: 5%;
    margin-bottom: 40px;
    padding: 20px;
    transform: rotate(0deg) !important;

    h1{
      font-weight: bold;
      font-size: 27px;
    }

    p{
      font-size: 12px;
    }
  }

}



  }
