<div class="container-fluid objetivo">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <img class="img-fluid" src="../../../assets/img/PEJ5Q01.png" alt="">
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="card shadow-lg ">
        <h1>CiviTesters</h1>

          <p>Es la comunidad de personas que se han seleccionado tanto del Metro de Medellín como
              externas, los cuales tendrán como objetivo navegar, revisar, probar, criticar, comentar, y
              enviar todas las sugerencias para mejorar el producto CivicaMall en su etapa de “Testing”.</p>

      </div>
    </div>
  </div>
</div>
